@*define the models*@
@model List<Actor>



@*Define the view data*@
@{
    ViewData["Title"]= "List of Actors"
}

<div class="row">
    <div class="col-md-8 offset-md-2"
</div>



@*write the code*@
<h1>Welcome to Actors page - Index</h1>